@charset "UTF-8";
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
.btn-default:active, .btn-default.active, .btn-primary:active, .btn-primary.active, .btn-success:active, .btn-success.active, .btn-info:active, .btn-info.active, .btn-warning:active, .btn-warning.active, .btn-danger:active, .btn-danger.active { -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn:active, .btn.active { background-image: none; }

.btn-default { background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%); background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%); background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE0E0E0', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; border-color: #dbdbdb; text-shadow: 0 1px 0 #fff; border-color: #ccc; }
.btn-default:hover, .btn-default:focus { background-color: #e0e0e0; background-position: 0 -15px; }
.btn-default:active, .btn-default.active { background-color: #e0e0e0; border-color: #dbdbdb; }
.btn-default:disabled, .btn-default[disabled] { background-color: #e0e0e0; background-image: none; }

.btn-primary { background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%); background-image: -o-linear-gradient(top, #428bca 0%, #2d6ca2 100%); background-image: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF428BCA', endColorstr='#FF2D6CA2', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; border-color: #2b669a; }
.btn-primary:hover, .btn-primary:focus { background-color: #2d6ca2; background-position: 0 -15px; }
.btn-primary:active, .btn-primary.active { background-color: #2d6ca2; border-color: #2b669a; }
.btn-primary:disabled, .btn-primary[disabled] { background-color: #2d6ca2; background-image: none; }

.btn-success { background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%); background-image: -o-linear-gradient(top, #5cb85c 0%, #419641 100%); background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5CB85C', endColorstr='#FF419641', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; border-color: #3e8f3e; }
.btn-success:hover, .btn-success:focus { background-color: #419641; background-position: 0 -15px; }
.btn-success:active, .btn-success.active { background-color: #419641; border-color: #3e8f3e; }
.btn-success:disabled, .btn-success[disabled] { background-color: #419641; background-image: none; }

.btn-info { background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%); background-image: -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%); background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5BC0DE', endColorstr='#FF2AABD2', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; border-color: #28a4c9; }
.btn-info:hover, .btn-info:focus { background-color: #2aabd2; background-position: 0 -15px; }
.btn-info:active, .btn-info.active { background-color: #2aabd2; border-color: #28a4c9; }
.btn-info:disabled, .btn-info[disabled] { background-color: #2aabd2; background-image: none; }

.btn-warning { background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%); background-image: -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%); background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0AD4E', endColorstr='#FFEB9316', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; border-color: #e38d13; }
.btn-warning:hover, .btn-warning:focus { background-color: #eb9316; background-position: 0 -15px; }
.btn-warning:active, .btn-warning.active { background-color: #eb9316; border-color: #e38d13; }
.btn-warning:disabled, .btn-warning[disabled] { background-color: #eb9316; background-image: none; }

.btn-danger { background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%); background-image: -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%); background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD9534F', endColorstr='#FFC12E2A', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; border-color: #b92c28; }
.btn-danger:hover, .btn-danger:focus { background-color: #c12e2a; background-position: 0 -15px; }
.btn-danger:active, .btn-danger.active { background-color: #c12e2a; border-color: #b92c28; }
.btn-danger:disabled, .btn-danger[disabled] { background-color: #c12e2a; background-image: none; }

.thumbnail, .img-thumbnail { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%); background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%); background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFE8E8E8', GradientType=0); background-color: #e8e8e8; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%); background-image: -o-linear-gradient(top, #428bca 0%, #357ebd 100%); background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF428BCA', endColorstr='#FF357EBD', GradientType=0); background-color: #357ebd; }

.navbar-default { background-image: -webkit-linear-gradient(top, white 0%, #f8f8f8 100%); background-image: -o-linear-gradient(top, white 0%, #f8f8f8 100%); background-image: linear-gradient(to bottom, white 0%, #f8f8f8 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF8F8F8', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075); }
.navbar-default .navbar-nav > .active > a { background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%); background-image: -o-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%); background-image: linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBEBEB', endColorstr='#FFF3F3F3', GradientType=0); -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075); box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075); }

.navbar-brand, .navbar-nav > li > a { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25); }

.navbar-inverse { background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%); background-image: -o-linear-gradient(top, #3c3c3c 0%, #222 100%); background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3C3C3C', endColorstr='#FF222222', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
.navbar-inverse .navbar-nav > .active > a { background-image: -webkit-linear-gradient(top, #222 0%, #282828 100%); background-image: -o-linear-gradient(top, #222 0%, #282828 100%); background-image: linear-gradient(to bottom, #222 0%, #282828 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF282828', GradientType=0); -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25); box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25); }
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom { border-radius: 0; }

.alert { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05); }

.alert-success { background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%); background-image: -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%); background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDFF0D8', endColorstr='#FFC8E5BC', GradientType=0); border-color: #b2dba1; }

.alert-info { background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%); background-image: -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%); background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD9EDF7', endColorstr='#FFB9DEF0', GradientType=0); border-color: #9acfea; }

.alert-warning { background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%); background-image: -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%); background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFCF8E3', endColorstr='#FFF8EFC0', GradientType=0); border-color: #f5e79e; }

.alert-danger { background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%); background-image: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%); background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2DEDE', endColorstr='#FFE7C3C3', GradientType=0); border-color: #dca7a7; }

.progress { background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%); background-image: -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%); background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBEBEB', endColorstr='#FFF5F5F5', GradientType=0); }

.progress-bar { background-image: -webkit-linear-gradient(top, #428bca 0%, #3071a9 100%); background-image: -o-linear-gradient(top, #428bca 0%, #3071a9 100%); background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF428BCA', endColorstr='#FF3071A9', GradientType=0); }

.progress-bar-success { background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%); background-image: -o-linear-gradient(top, #5cb85c 0%, #449d44 100%); background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5CB85C', endColorstr='#FF449D44', GradientType=0); }

.progress-bar-info { background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%); background-image: -o-linear-gradient(top, #5bc0de 0%, #31b0d5 100%); background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5BC0DE', endColorstr='#FF31B0D5', GradientType=0); }

.progress-bar-warning { background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%); background-image: -o-linear-gradient(top, #f0ad4e 0%, #ec971f 100%); background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0AD4E', endColorstr='#FFEC971F', GradientType=0); }

.progress-bar-danger { background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%); background-image: -o-linear-gradient(top, #d9534f 0%, #c9302c 100%); background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD9534F', endColorstr='#FFC9302C', GradientType=0); }

.progress-bar-striped { background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); }

.list-group { border-radius: 4px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); }

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus { text-shadow: 0 -1px 0 #3071a9; background-image: -webkit-linear-gradient(top, #428bca 0%, #3278b3 100%); background-image: -o-linear-gradient(top, #428bca 0%, #3278b3 100%); background-image: linear-gradient(to bottom, #428bca 0%, #3278b3 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF428BCA', endColorstr='#FF3278B3', GradientType=0); border-color: #3278b3; }

.panel { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }

.panel-default > .panel-heading { background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%); background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%); background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFE8E8E8', GradientType=0); }

.panel-primary > .panel-heading { background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%); background-image: -o-linear-gradient(top, #428bca 0%, #357ebd 100%); background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF428BCA', endColorstr='#FF357EBD', GradientType=0); }

.panel-success > .panel-heading { background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%); background-image: -o-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%); background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDFF0D8', endColorstr='#FFD0E9C6', GradientType=0); }

.panel-info > .panel-heading { background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%); background-image: -o-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%); background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD9EDF7', endColorstr='#FFC4E3F3', GradientType=0); }

.panel-warning > .panel-heading { background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%); background-image: -o-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%); background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFCF8E3', endColorstr='#FFFAF2CC', GradientType=0); }

.panel-danger > .panel-heading { background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%); background-image: -o-linear-gradient(top, #f2dede 0%, #ebcccc 100%); background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2DEDE', endColorstr='#FFEBCCCC', GradientType=0); }

.well { background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%); background-image: -o-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%); background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE8E8E8', endColorstr='#FFF5F5F5', GradientType=0); border-color: gainsboro; -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1); }

@font-face { font-family: 'Glyphicons Halflings'; src: url("../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.eot"); src: url("../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
.glyphicon { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.glyphicon-asterisk:before { content: "\2a"; }

.glyphicon-plus:before { content: "\2b"; }

.glyphicon-euro:before { content: "\20ac"; }

.glyphicon-minus:before { content: "\2212"; }

.glyphicon-cloud:before { content: "\2601"; }

.glyphicon-envelope:before { content: "\2709"; }

.glyphicon-pencil:before { content: "\270f"; }

.glyphicon-glass:before { content: "\e001"; }

.glyphicon-music:before { content: "\e002"; }

.glyphicon-search:before { content: "\e003"; }

.glyphicon-heart:before { content: "\e005"; }

.glyphicon-star:before { content: "\e006"; }

.glyphicon-star-empty:before { content: "\e007"; }

.glyphicon-user:before { content: "\e008"; }

.glyphicon-film:before { content: "\e009"; }

.glyphicon-th-large:before { content: "\e010"; }

.glyphicon-th:before { content: "\e011"; }

.glyphicon-th-list:before { content: "\e012"; }

.glyphicon-ok:before { content: "\e013"; }

.glyphicon-remove:before { content: "\e014"; }

.glyphicon-zoom-in:before { content: "\e015"; }

.glyphicon-zoom-out:before { content: "\e016"; }

.glyphicon-off:before { content: "\e017"; }

.glyphicon-signal:before { content: "\e018"; }

.glyphicon-cog:before { content: "\e019"; }

.glyphicon-trash:before { content: "\e020"; }

.glyphicon-home:before { content: "\e021"; }

.glyphicon-file:before { content: "\e022"; }

.glyphicon-time:before { content: "\e023"; }

.glyphicon-road:before { content: "\e024"; }

.glyphicon-download-alt:before { content: "\e025"; }

.glyphicon-download:before { content: "\e026"; }

.glyphicon-upload:before { content: "\e027"; }

.glyphicon-inbox:before { content: "\e028"; }

.glyphicon-play-circle:before { content: "\e029"; }

.glyphicon-repeat:before { content: "\e030"; }

.glyphicon-refresh:before { content: "\e031"; }

.glyphicon-list-alt:before { content: "\e032"; }

.glyphicon-lock:before { content: "\e033"; }

.glyphicon-flag:before { content: "\e034"; }

.glyphicon-headphones:before { content: "\e035"; }

.glyphicon-volume-off:before { content: "\e036"; }

.glyphicon-volume-down:before { content: "\e037"; }

.glyphicon-volume-up:before { content: "\e038"; }

.glyphicon-qrcode:before { content: "\e039"; }

.glyphicon-barcode:before { content: "\e040"; }

.glyphicon-tag:before { content: "\e041"; }

.glyphicon-tags:before { content: "\e042"; }

.glyphicon-book:before { content: "\e043"; }

.glyphicon-bookmark:before { content: "\e044"; }

.glyphicon-print:before { content: "\e045"; }

.glyphicon-camera:before { content: "\e046"; }

.glyphicon-font:before { content: "\e047"; }

.glyphicon-bold:before { content: "\e048"; }

.glyphicon-italic:before { content: "\e049"; }

.glyphicon-text-height:before { content: "\e050"; }

.glyphicon-text-width:before { content: "\e051"; }

.glyphicon-align-left:before { content: "\e052"; }

.glyphicon-align-center:before { content: "\e053"; }

.glyphicon-align-right:before { content: "\e054"; }

.glyphicon-align-justify:before { content: "\e055"; }

.glyphicon-list:before { content: "\e056"; }

.glyphicon-indent-left:before { content: "\e057"; }

.glyphicon-indent-right:before { content: "\e058"; }

.glyphicon-facetime-video:before { content: "\e059"; }

.glyphicon-picture:before { content: "\e060"; }

.glyphicon-map-marker:before { content: "\e062"; }

.glyphicon-adjust:before { content: "\e063"; }

.glyphicon-tint:before { content: "\e064"; }

.glyphicon-edit:before { content: "\e065"; }

.glyphicon-share:before { content: "\e066"; }

.glyphicon-check:before { content: "\e067"; }

.glyphicon-move:before { content: "\e068"; }

.glyphicon-step-backward:before { content: "\e069"; }

.glyphicon-fast-backward:before { content: "\e070"; }

.glyphicon-backward:before { content: "\e071"; }

.glyphicon-play:before { content: "\e072"; }

.glyphicon-pause:before { content: "\e073"; }

.glyphicon-stop:before { content: "\e074"; }

.glyphicon-forward:before { content: "\e075"; }

.glyphicon-fast-forward:before { content: "\e076"; }

.glyphicon-step-forward:before { content: "\e077"; }

.glyphicon-eject:before { content: "\e078"; }

.glyphicon-chevron-left:before { content: "\e079"; }

.glyphicon-chevron-right:before { content: "\e080"; }

.glyphicon-plus-sign:before { content: "\e081"; }

.glyphicon-minus-sign:before { content: "\e082"; }

.glyphicon-remove-sign:before { content: "\e083"; }

.glyphicon-ok-sign:before { content: "\e084"; }

.glyphicon-question-sign:before { content: "\e085"; }

.glyphicon-info-sign:before { content: "\e086"; }

.glyphicon-screenshot:before { content: "\e087"; }

.glyphicon-remove-circle:before { content: "\e088"; }

.glyphicon-ok-circle:before { content: "\e089"; }

.glyphicon-ban-circle:before { content: "\e090"; }

.glyphicon-arrow-left:before { content: "\e091"; }

.glyphicon-arrow-right:before { content: "\e092"; }

.glyphicon-arrow-up:before { content: "\e093"; }

.glyphicon-arrow-down:before { content: "\e094"; }

.glyphicon-share-alt:before { content: "\e095"; }

.glyphicon-resize-full:before { content: "\e096"; }

.glyphicon-resize-small:before { content: "\e097"; }

.glyphicon-exclamation-sign:before { content: "\e101"; }

.glyphicon-gift:before { content: "\e102"; }

.glyphicon-leaf:before { content: "\e103"; }

.glyphicon-fire:before { content: "\e104"; }

.glyphicon-eye-open:before { content: "\e105"; }

.glyphicon-eye-close:before { content: "\e106"; }

.glyphicon-warning-sign:before { content: "\e107"; }

.glyphicon-plane:before { content: "\e108"; }

.glyphicon-calendar:before { content: "\e109"; }

.glyphicon-random:before { content: "\e110"; }

.glyphicon-comment:before { content: "\e111"; }

.glyphicon-magnet:before { content: "\e112"; }

.glyphicon-chevron-up:before { content: "\e113"; }

.glyphicon-chevron-down:before { content: "\e114"; }

.glyphicon-retweet:before { content: "\e115"; }

.glyphicon-shopping-cart:before { content: "\e116"; }

.glyphicon-folder-close:before { content: "\e117"; }

.glyphicon-folder-open:before { content: "\e118"; }

.glyphicon-resize-vertical:before { content: "\e119"; }

.glyphicon-resize-horizontal:before { content: "\e120"; }

.glyphicon-hdd:before { content: "\e121"; }

.glyphicon-bullhorn:before { content: "\e122"; }

.glyphicon-bell:before { content: "\e123"; }

.glyphicon-certificate:before { content: "\e124"; }

.glyphicon-thumbs-up:before { content: "\e125"; }

.glyphicon-thumbs-down:before { content: "\e126"; }

.glyphicon-hand-right:before { content: "\e127"; }

.glyphicon-hand-left:before { content: "\e128"; }

.glyphicon-hand-up:before { content: "\e129"; }

.glyphicon-hand-down:before { content: "\e130"; }

.glyphicon-circle-arrow-right:before { content: "\e131"; }

.glyphicon-circle-arrow-left:before { content: "\e132"; }

.glyphicon-circle-arrow-up:before { content: "\e133"; }

.glyphicon-circle-arrow-down:before { content: "\e134"; }

.glyphicon-globe:before { content: "\e135"; }

.glyphicon-wrench:before { content: "\e136"; }

.glyphicon-tasks:before { content: "\e137"; }

.glyphicon-filter:before { content: "\e138"; }

.glyphicon-briefcase:before { content: "\e139"; }

.glyphicon-fullscreen:before { content: "\e140"; }

.glyphicon-dashboard:before { content: "\e141"; }

.glyphicon-paperclip:before { content: "\e142"; }

.glyphicon-heart-empty:before { content: "\e143"; }

.glyphicon-link:before { content: "\e144"; }

.glyphicon-phone:before { content: "\e145"; }

.glyphicon-pushpin:before { content: "\e146"; }

.glyphicon-usd:before { content: "\e148"; }

.glyphicon-gbp:before { content: "\e149"; }

.glyphicon-sort:before { content: "\e150"; }

.glyphicon-sort-by-alphabet:before { content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before { content: "\e152"; }

.glyphicon-sort-by-order:before { content: "\e153"; }

.glyphicon-sort-by-order-alt:before { content: "\e154"; }

.glyphicon-sort-by-attributes:before { content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before { content: "\e156"; }

.glyphicon-unchecked:before { content: "\e157"; }

.glyphicon-expand:before { content: "\e158"; }

.glyphicon-collapse-down:before { content: "\e159"; }

.glyphicon-collapse-up:before { content: "\e160"; }

.glyphicon-log-in:before { content: "\e161"; }

.glyphicon-flash:before { content: "\e162"; }

.glyphicon-log-out:before { content: "\e163"; }

.glyphicon-new-window:before { content: "\e164"; }

.glyphicon-record:before { content: "\e165"; }

.glyphicon-save:before { content: "\e166"; }

.glyphicon-open:before { content: "\e167"; }

.glyphicon-saved:before { content: "\e168"; }

.glyphicon-import:before { content: "\e169"; }

.glyphicon-export:before { content: "\e170"; }

.glyphicon-send:before { content: "\e171"; }

.glyphicon-floppy-disk:before { content: "\e172"; }

.glyphicon-floppy-saved:before { content: "\e173"; }

.glyphicon-floppy-remove:before { content: "\e174"; }

.glyphicon-floppy-save:before { content: "\e175"; }

.glyphicon-floppy-open:before { content: "\e176"; }

.glyphicon-credit-card:before { content: "\e177"; }

.glyphicon-transfer:before { content: "\e178"; }

.glyphicon-cutlery:before { content: "\e179"; }

.glyphicon-header:before { content: "\e180"; }

.glyphicon-compressed:before { content: "\e181"; }

.glyphicon-earphone:before { content: "\e182"; }

.glyphicon-phone-alt:before { content: "\e183"; }

.glyphicon-tower:before { content: "\e184"; }

.glyphicon-stats:before { content: "\e185"; }

.glyphicon-sd-video:before { content: "\e186"; }

.glyphicon-hd-video:before { content: "\e187"; }

.glyphicon-subtitles:before { content: "\e188"; }

.glyphicon-sound-stereo:before { content: "\e189"; }

.glyphicon-sound-dolby:before { content: "\e190"; }

.glyphicon-sound-5-1:before { content: "\e191"; }

.glyphicon-sound-6-1:before { content: "\e192"; }

.glyphicon-sound-7-1:before { content: "\e193"; }

.glyphicon-copyright-mark:before { content: "\e194"; }

.glyphicon-registration-mark:before { content: "\e195"; }

.glyphicon-cloud-download:before { content: "\e197"; }

.glyphicon-cloud-upload:before { content: "\e198"; }

.glyphicon-tree-conifer:before { content: "\e199"; }

.glyphicon-tree-deciduous:before { content: "\e200"; }

body { background-color: #ffffff; }

.normal-12 { font-size: 12px; font-weight: normal; }

.bold-12 { font-size: 12px; font-weight: bold; }

.normal-13 { font-size: 13px; font-weight: normal; }

.bold-13 { font-size: 13px; font-weight: bold; }

.normal-14 { font-size: 14px; font-weight: normal; }

.bold-14 { font-size: 14px; font-weight: bold; }

.normal-15 { font-size: 15px; font-weight: normal; }

.bold-15 { font-size: 15px; font-weight: bold; }

.normal-16 { font-size: 16px; font-weight: normal; }

.bold-16 { font-size: 16px; font-weight: bold; }

.normal-17 { font-size: 17px; font-weight: normal; }

.bold-17 { font-size: 17px; font-weight: bold; }

.normal-18 { font-size: 18px; font-weight: normal; }

.bold-18 { font-size: 18px; font-weight: bold; }

.normal-19 { font-size: 19px; font-weight: normal; }

.bold-19 { font-size: 19px; font-weight: bold; }

.normal-20 { font-size: 20px; font-weight: normal; }

.bold-20 { font-size: 20px; font-weight: bold; }

.normal-21 { font-size: 21px; font-weight: normal; }

.bold-21 { font-size: 21px; font-weight: bold; }

.normal-22 { font-size: 22px; font-weight: normal; }

.bold-22 { font-size: 22px; font-weight: bold; }

.normal-23 { font-size: 23px; font-weight: normal; }

.bold-23 { font-size: 23px; font-weight: bold; }

.normal-24 { font-size: 24px; font-weight: normal; }

.bold-24 { font-size: 24px; font-weight: bold; }

.mbtm-10 { margin-bottom: 10px; }

.mbtm-11 { margin-bottom: 11px; }

.mbtm-12 { margin-bottom: 12px; }

.mbtm-13 { margin-bottom: 13px; }

.mbtm-14 { margin-bottom: 14px; }

.mbtm-15 { margin-bottom: 15px; }

.mbtm-16 { margin-bottom: 16px; }

.mbtm-17 { margin-bottom: 17px; }

.mbtm-18 { margin-bottom: 18px; }

.mbtm-19 { margin-bottom: 19px; }

.mbtm-20 { margin-bottom: 20px; }

.mbtm-21 { margin-bottom: 21px; }

.mbtm-22 { margin-bottom: 22px; }

.mbtm-23 { margin-bottom: 23px; }

.mbtm-24 { margin-bottom: 24px; }

.mbtm-25 { margin-bottom: 25px; }

.mbtm-26 { margin-bottom: 26px; }

.mbtm-27 { margin-bottom: 27px; }

.mbtm-28 { margin-bottom: 28px; }

.mbtm-29 { margin-bottom: 29px; }

.mbtm-30 { margin-bottom: 30px; }

.mbtm-31 { margin-bottom: 31px; }

.mbtm-32 { margin-bottom: 32px; }

.mbtm-33 { margin-bottom: 33px; }

.mbtm-34 { margin-bottom: 34px; }

.mbtm-35 { margin-bottom: 35px; }

.mbtm-36 { margin-bottom: 36px; }

.mbtm-37 { margin-bottom: 37px; }

.mbtm-38 { margin-bottom: 38px; }

.mbtm-39 { margin-bottom: 39px; }

.mbtm-40 { margin-bottom: 40px; }

.text-order-id { color: #236093; }

.text-description { color: #333333; }

.text-order-detail { color: #236093; min-width: 150px;}
.text-order-detail > a:visited { color: #236093 !important; }

.text-order-item-tracking { color: #236093; }
.text-order-item-tracking:hover, .text-order-item-tracking:visited { color: #236093 !important; }

.text-order-item-main { color: #565656; }

.text-order-item-sub { color: #959595; }

.text-shipping-date { color: #ff8600; }

.text-pagination-arrow { color: #595959; }

.text-pagination-more { color: #595959; }

.container-order-tracking { font-family: thonburi, arial; width: 950px; margin: 0 auto; background-color: #ffffff; }
.container-order-tracking::after { display: block; content: ''; clear: both; }
.container-order-tracking .user-profile { font-size: 13px; color: #959595; padding-top: 0px; margin-top: 5px; }
.container-order-tracking .user-profile::after { display: block; content: ''; clear: both; }
.container-order-tracking .user-profile.box-img { width: 25px; height: 25px; float: left; }
.container-order-tracking .user-profile.box-img img { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; width: 100%; height: auto; }
.container-order-tracking .user-profile.box-information { width: 77.52632%; float: left; padding-left: 19px; }
.container-order-tracking .user-profile.box-information [class^="information-"] { padding: 3px 0; }
.container-order-tracking .user-profile.box-information .information-name { color: #595959; }
.container-order-tracking .user-profile.box-information .information-message a { color: #236093; }
.container-order-tracking .user-profile.box-information .information-message .divider-vertical { display: inline-block; width: 1px; height: 22px; vertical-align: middle; background-color: #cfcfcf; margin: 0 7px; }
.container-order-tracking .user-profile.box-information .input-identity-card { width: 200px; border: solid 1px #959595; padding: 3px 10px; vertical-align: middle; }
.container-order-tracking .user-profile.box-information .btn-auth { color: #ffffff; background-color: #959595; border-color: #959595; padding: 3px 10px; }
.container-order-tracking .user-profile.box-information .btn-auth:hover, .container-order-tracking .user-profile.box-information .btn-auth:focus, .container-order-tracking .user-profile.box-information .btn-auth:active, .container-order-tracking .user-profile.box-information .btn-auth.active, .open > .container-order-tracking .user-profile.box-information .btn-auth.dropdown-toggle { color: #ffffff; background-color: #7c7c7c; border-color: #767676; }
.container-order-tracking .user-profile.box-information .btn-auth:active, .container-order-tracking .user-profile.box-information .btn-auth.active, .open > .container-order-tracking .user-profile.box-information .btn-auth.dropdown-toggle { background-image: none; }
.container-order-tracking .user-profile.box-information .btn-auth.disabled, .container-order-tracking .user-profile.box-information .btn-auth.disabled:hover, .container-order-tracking .user-profile.box-information .btn-auth.disabled:focus, .container-order-tracking .user-profile.box-information .btn-auth.disabled:active, .container-order-tracking .user-profile.box-information .btn-auth.disabled.active, .container-order-tracking .user-profile.box-information .btn-auth[disabled], .container-order-tracking .user-profile.box-information .btn-auth[disabled]:hover, .container-order-tracking .user-profile.box-information .btn-auth[disabled]:focus, .container-order-tracking .user-profile.box-information .btn-auth[disabled]:active, .container-order-tracking .user-profile.box-information .btn-auth[disabled].active, fieldset[disabled] .container-order-tracking .user-profile.box-information .btn-auth, fieldset[disabled] .container-order-tracking .user-profile.box-information .btn-auth:hover, fieldset[disabled] .container-order-tracking .user-profile.box-information .btn-auth:focus, fieldset[disabled] .container-order-tracking .user-profile.box-information .btn-auth:active, fieldset[disabled] .container-order-tracking .user-profile.box-information .btn-auth.active { background-color: #959595; border-color: #959595; }
.container-order-tracking .user-profile.box-information .btn-auth .badge { color: #959595; background-color: #ffffff; }
.container-order-tracking .user-profile.box-update { width: 19.26316%; float: left; text-align: right; }
.container-order-tracking .user-profile.box-update [class^="update-"] { padding: 3px 0; }
.container-order-tracking .user-profile.box-update .update-message { height: 32px; line-height: 3; }
.container-order-tracking .tab-navigate { margin: 0; margin-top: 25px; padding-left: 14px; position: relative; }
.container-order-tracking .tab-navigate::before { display: block; content: ''; background-color: #cfcfcf; height: 2px; width: 100%; position: absolute; bottom: 0; left: 0; z-index: 1; }
.container-order-tracking .tab-navigate::after { display: block; content: ''; clear: both; }
.container-order-tracking .tab-navigate > .item { color: #959595; background-color: #f5f5f5; line-height: 50px; text-align: center; height: 50px; min-width: 182px; padding: 0 18px; float: left; border: solid 1px #cfcfcf; border-bottom: 0; position: relative; }
.container-order-tracking .tab-navigate > .item.active { color: #cd0000; background-color: #ffffff; z-index: 2; }
.container-order-tracking .tab-navigate > .item.active::before { display: block; content: ''; background-color: #cd0000; height: 2px; width: 100%; position: absolute; top: -1px; left: 0; }
.container-order-tracking .tab-navigate > .item.active::after { display: block; content: ''; background-color: #ffffff; height: 2px; width: 100%; position: absolute; bottom: 0; left: 0; }
.container-order-tracking .container-order-list .title-text { padding: 22px 12px; }
.container-order-tracking .table-order-list { border: solid 1px #cfcfcf; border-bottom: solid 2px #b0b0b0; margin-bottom: 27px; }
.container-order-tracking .table-order-list > thead { background-color: #ebebeb; }
.container-order-tracking .table-order-list > thead .column-1 { width: 14.21053%; }
.container-order-tracking .table-order-list > thead .column-2 { width: 22.94737%; }
.container-order-tracking .table-order-list > thead .column-3 { width: 19.78947%; }
.container-order-tracking .table-order-list > thead .column-4 { width: 23.78947%; }
.container-order-tracking .table-order-list > thead .column-5 { width: 14.52632%; }
.container-order-tracking .table-order-list > thead th { padding: 15px 12px; border-bottom: 0px; font-weight: normal; }
.container-order-tracking .table-order-list > thead th .order-id { color: #236093; }
.container-order-tracking .table-order-list > thead th > span { display: block; margin-top: 2px; }
.container-order-tracking .table-order-list > thead th:first-child { position: relative; }
.container-order-tracking .table-order-list > thead th:first-child::after { display: block; content: ''; position: absolute; border: solid 8px transparent; border-bottom-color: #ffffff; bottom: -1px; left: 31px; }
.container-order-tracking .table-order-list > thead th:first-child::before { display: block; content: ''; position: absolute; border: solid 10px transparent; border-bottom-color: #dddddd; bottom: -1px; left: 29px; }
.container-order-tracking .table-order-list > thead th:first-child > span { margin-top: 0; }
.container-order-tracking .table-order-list > tbody td { padding: 22px 12px; }
.container-order-tracking .table-order-list > tbody td:first-child img { max-width: 75px; height: auto; }
.container-order-tracking .table-order-list .btn-item-status { color: #4e4e4e; background-color: #ffffff; border-color: #dddddd; width: 100%; }
.container-order-tracking .table-order-list .btn-item-status:hover, .container-order-tracking .table-order-list .btn-item-status:focus, .container-order-tracking .table-order-list .btn-item-status:active, .container-order-tracking .table-order-list .btn-item-status.active, .open > .container-order-tracking .table-order-list .btn-item-status.dropdown-toggle { color: #4e4e4e; background-color: #e6e6e6; border-color: #bebebe; }
.container-order-tracking .table-order-list .btn-item-status:active, .container-order-tracking .table-order-list .btn-item-status.active, .open > .container-order-tracking .table-order-list .btn-item-status.dropdown-toggle { background-image: none; }
.container-order-tracking .table-order-list .btn-item-status.disabled, .container-order-tracking .table-order-list .btn-item-status.disabled:hover, .container-order-tracking .table-order-list .btn-item-status.disabled:focus, .container-order-tracking .table-order-list .btn-item-status.disabled:active, .container-order-tracking .table-order-list .btn-item-status.disabled.active, .container-order-tracking .table-order-list .btn-item-status[disabled], .container-order-tracking .table-order-list .btn-item-status[disabled]:hover, .container-order-tracking .table-order-list .btn-item-status[disabled]:focus, .container-order-tracking .table-order-list .btn-item-status[disabled]:active, .container-order-tracking .table-order-list .btn-item-status[disabled].active, fieldset[disabled] .container-order-tracking .table-order-list .btn-item-status, fieldset[disabled] .container-order-tracking .table-order-list .btn-item-status:hover, fieldset[disabled] .container-order-tracking .table-order-list .btn-item-status:focus, fieldset[disabled] .container-order-tracking .table-order-list .btn-item-status:active, fieldset[disabled] .container-order-tracking .table-order-list .btn-item-status.active { background-color: #ffffff; border-color: #dddddd; }
.container-order-tracking .table-order-list .btn-item-status .badge { color: #ffffff; background-color: #4e4e4e; }
.container-order-tracking .table-order-list .btn-item-status:hover { background-color: #ffffff; }
.container-order-tracking .table-order-list .btn-review-product { color: #ffffff; background-color: #7d9bc0; border-color: #91969E; width: 100%; }
.container-order-tracking .table-order-list .btn-review-product:hover, .container-order-tracking .table-order-list .btn-review-product:focus, .container-order-tracking .table-order-list .btn-review-product:active, .container-order-tracking .table-order-list .btn-review-product.active, .open > .container-order-tracking .table-order-list .btn-review-product.dropdown-toggle { color: #ffffff; background-color: #5b81af; border-color: #717780; }
.container-order-tracking .table-order-list .btn-review-product:active, .container-order-tracking .table-order-list .btn-review-product.active, .open > .container-order-tracking .table-order-list .btn-review-product.dropdown-toggle { background-image: none; }
.container-order-tracking .table-order-list .btn-review-product.disabled, .container-order-tracking .table-order-list .btn-review-product.disabled:hover, .container-order-tracking .table-order-list .btn-review-product.disabled:focus, .container-order-tracking .table-order-list .btn-review-product.disabled:active, .container-order-tracking .table-order-list .btn-review-product.disabled.active, .container-order-tracking .table-order-list .btn-review-product[disabled], .container-order-tracking .table-order-list .btn-review-product[disabled]:hover, .container-order-tracking .table-order-list .btn-review-product[disabled]:focus, .container-order-tracking .table-order-list .btn-review-product[disabled]:active, .container-order-tracking .table-order-list .btn-review-product[disabled].active, fieldset[disabled] .container-order-tracking .table-order-list .btn-review-product, fieldset[disabled] .container-order-tracking .table-order-list .btn-review-product:hover, fieldset[disabled] .container-order-tracking .table-order-list .btn-review-product:focus, fieldset[disabled] .container-order-tracking .table-order-list .btn-review-product:active, fieldset[disabled] .container-order-tracking .table-order-list .btn-review-product.active { background-color: #7d9bc0; border-color: #91969E; }
.container-order-tracking .table-order-list .btn-review-product .badge { color: #7d9bc0; background-color: #ffffff; }
.container-order-tracking .table-order-list .btn-return-product { color: #959595; background-color: #ebebeb; border-color: #dddddd; width: 100%; }
.container-order-tracking .table-order-list .btn-return-product:hover, .container-order-tracking .table-order-list .btn-return-product:focus, .container-order-tracking .table-order-list .btn-return-product:active, .container-order-tracking .table-order-list .btn-return-product.active, .open > .container-order-tracking .table-order-list .btn-return-product.dropdown-toggle { color: #959595; background-color: #d2d2d2; border-color: #bebebe; }
.container-order-tracking .table-order-list .btn-return-product:active, .container-order-tracking .table-order-list .btn-return-product.active, .open > .container-order-tracking .table-order-list .btn-return-product.dropdown-toggle { background-image: none; }
.container-order-tracking .table-order-list .btn-return-product.disabled, .container-order-tracking .table-order-list .btn-return-product.disabled:hover, .container-order-tracking .table-order-list .btn-return-product.disabled:focus, .container-order-tracking .table-order-list .btn-return-product.disabled:active, .container-order-tracking .table-order-list .btn-return-product.disabled.active, .container-order-tracking .table-order-list .btn-return-product[disabled], .container-order-tracking .table-order-list .btn-return-product[disabled]:hover, .container-order-tracking .table-order-list .btn-return-product[disabled]:focus, .container-order-tracking .table-order-list .btn-return-product[disabled]:active, .container-order-tracking .table-order-list .btn-return-product[disabled].active, fieldset[disabled] .container-order-tracking .table-order-list .btn-return-product, fieldset[disabled] .container-order-tracking .table-order-list .btn-return-product:hover, fieldset[disabled] .container-order-tracking .table-order-list .btn-return-product:focus, fieldset[disabled] .container-order-tracking .table-order-list .btn-return-product:active, fieldset[disabled] .container-order-tracking .table-order-list .btn-return-product.active { background-color: #ebebeb; border-color: #dddddd; }
.container-order-tracking .table-order-list .btn-return-product .badge { color: #ebebeb; background-color: #959595; }
.container-order-tracking .table-order-list .back-link { text-decoration: underline !important; display: block; margin-top: 10px; color: #959595; }
.container-order-tracking .container-pagination { text-align: center; }
.container-order-tracking .custom { margin-top: 0; margin-bottom: 0; }
.container-order-tracking .custom.pagination > li > a, .container-order-tracking .custom.pagination > li > span { margin: 0 5px; padding: 4px 9px; border-color: #e6e6e6; background-color: #f8f8f8; color: #959595; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.container-order-tracking .custom.pagination > li > a:hover, .container-order-tracking .custom.pagination > li > a.active, .container-order-tracking .custom.pagination > li > span:hover, .container-order-tracking .custom.pagination > li > span.active { border-color: #ee2e24; background-color: #ee2e24; color: #ffffff; }
.container-order-tracking .custom.pagination .text-pagination-arrow { font-size: 20px; line-height: 0; vertical-align: text-top; margin-top: 4px; display: inline-block; }
.container-order-tracking .custom.pagination .text-pagination-arrow.previous { margin-right: 10px; }
.container-order-tracking .custom.pagination .text-pagination-arrow.next { margin-left: 10px; }
.container-order-tracking .custom.pagination .text-pagination-more { font-size: 20px; line-height: 0; vertical-align: text-top; margin: 2px -5px 0; display: inline-block; }

.footer__bg_main-link { margin-top: 60px; }

.container-order-status { width: 100%; background-color: #ffffff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 57px 60px 80px 60px; }
.container-order-status .container-order-info { border: solid 1px #cfcfcf; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background-color: #f5f5f5; margin-bottom: 15px; }
ิ .container-order-status .container-order-info::after { display: block; content: ''; clear: both; }
.container-order-status .product-shipping-address { padding: 14px 20px; width: 59.41176%; float: right; }
.container-order-status .product-shipping-address p { margin-bottom: 5px; }
.container-order-status .product-shipping-address .description { margin: 0; }
.container-order-status .product-name, .container-order-status .product-quantity { padding: 14px 20px; width: 40.58824%; border-right: solid 1px #cfcfcf; }
.container-order-status .product-name p, .container-order-status .product-quantity p { margin-bottom: 5px; }
.container-order-status .product-name .description, .container-order-status .product-quantity .description { margin: 0; }
.container-order-status .product-quantity { border-top: solid 1px #cfcfcf; }
.container-order-status .order-status-name { margin: 0 0 13px 0; }
.container-order-status .container-step-order-status { border: solid 1px #cfcfcf; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.container-order-status .container-step-order-status .column-1 { width: 30%; }
.container-order-status .container-step-order-status .column-2 { width: 50%; }
.container-order-status .container-step-order-status .column-3 { width: 20%; }
.container-order-status .container-step-order-status .step-order-status { margin-bottom: 0; }
.container-order-status .container-step-order-status thead { background-color: #7d9bc0; color: #ffffff; }
.container-order-status .container-step-order-status thead tr th { border-bottom: 0; border-left: solid 1px #fff; }
.container-order-status .container-step-order-status thead tr th:first-child { border-left: 0; }
.container-order-status .container-step-order-status td { border-top: 0; }
.container-order-status .container-step-order-status tbody tr { color: #606060; }
.container-order-status .container-step-order-status tbody tr .round { display: inline-block; vertical-align: middle; text-align: center; content: ''; clear: both; background-color: transparent; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; margin-left: -47px; margin-right: 16px; }
.container-order-status .container-step-order-status tbody tr .round .glyphicon { font-size: 10px; color: #cecece; padding: 6px; margin: 2px 3px 4px 3px; background-color: #f3f3f3; -webkit-border-radius: 50%; -moz-border-radius: 50%; border: solid 2px transparent; border-radius: 50%; }
.container-order-status .container-step-order-status tbody tr.current-status { font-weight: 700; color: #333333; }
.container-order-status .container-step-order-status tbody tr.current-status td:nth-child(even) { color: #326195; }
.container-order-status .container-step-order-status tbody tr.current-status td:last-child { font-weight: normal; }
.container-order-status .container-step-order-status tbody tr.current-status .round { background-color: #f3f3f3; }
.container-order-status .container-step-order-status tbody tr.current-status .glyphicon { color: #ffffff; background-color: #326195; border: solid 2px #ffffff; background-color: #326195; }
.container-order-status .container-step-order-status tbody tr td { vertical-align: middle; }
.container-order-status .container-step-order-status tbody tr td:first-child::before { display: inline-block; content: ''; clear: both; width: 4px; height: 74px; background-color: #f3f3f3; margin: -8px 25px -8px 19px; vertical-align: middle; }

.modal-dialog-order-status { width: 970px; }
.modal-dialog-order-status .modal-body { padding: 0; }
.modal-dialog-order-status .close { margin-right: 25px; margin-top: 8px; }

.modal-dialog-true-privilege { width: 500px; }
.modal-dialog-true-privilege .modal-body { padding: 0; }
.modal-dialog-true-privilege .close { margin-top: 8px; margin-right: 25px; }
.modal-dialog-true-privilege .user-profile { font-size: 15px; color: #959595; padding: 28px 28px 70px; }
.modal-dialog-true-privilege .user-profile::after { display: block; content: ''; clear: both; }
.modal-dialog-true-privilege .user-profile.box-img { width: 78px; height: 78px; float: left; }
.modal-dialog-true-privilege .user-profile.box-img img { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; width: 100%; height: auto; }
.modal-dialog-true-privilege .user-profile.box-information { width: 100%; }
.modal-dialog-true-privilege .user-profile.box-information [class^="information-"] { padding: 3px 0; }
.modal-dialog-true-privilege .user-profile.box-information .information-name { color: #595959; }
.modal-dialog-true-privilege .user-profile.box-information .information-message { margin-bottom: 23px; }
.modal-dialog-true-privilege .user-profile.box-information .input-identity-card { width: 310px; border: solid 2px #e2e2e2; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding: 7px 10px; vertical-align: middle; font-size: 15px; }
.modal-dialog-true-privilege .user-profile.box-information .btn-auth { color: #ffffff; background-color: #9fa2a3; border-color: #9fa2a3; padding: 6px 16px; font-size: 15px; font-weight: bold; }
.modal-dialog-true-privilege .user-profile.box-information .btn-auth:hover, .modal-dialog-true-privilege .user-profile.box-information .btn-auth:focus, .modal-dialog-true-privilege .user-profile.box-information .btn-auth:active, .modal-dialog-true-privilege .user-profile.box-information .btn-auth.active, .open > .modal-dialog-true-privilege .user-profile.box-information .btn-auth.dropdown-toggle { color: #ffffff; background-color: #85898a; border-color: #808485; }
.modal-dialog-true-privilege .user-profile.box-information .btn-auth:active, .modal-dialog-true-privilege .user-profile.box-information .btn-auth.active, .open > .modal-dialog-true-privilege .user-profile.box-information .btn-auth.dropdown-toggle { background-image: none; }
.modal-dialog-true-privilege .user-profile.box-information .btn-auth.disabled, .modal-dialog-true-privilege .user-profile.box-information .btn-auth.disabled:hover, .modal-dialog-true-privilege .user-profile.box-information .btn-auth.disabled:focus, .modal-dialog-true-privilege .user-profile.box-information .btn-auth.disabled:active, .modal-dialog-true-privilege .user-profile.box-information .btn-auth.disabled.active, .modal-dialog-true-privilege .user-profile.box-information .btn-auth[disabled], .modal-dialog-true-privilege .user-profile.box-information .btn-auth[disabled]:hover, .modal-dialog-true-privilege .user-profile.box-information .btn-auth[disabled]:focus, .modal-dialog-true-privilege .user-profile.box-information .btn-auth[disabled]:active, .modal-dialog-true-privilege .user-profile.box-information .btn-auth[disabled].active, fieldset[disabled] .modal-dialog-true-privilege .user-profile.box-information .btn-auth, fieldset[disabled] .modal-dialog-true-privilege .user-profile.box-information .btn-auth:hover, fieldset[disabled] .modal-dialog-true-privilege .user-profile.box-information .btn-auth:focus, fieldset[disabled] .modal-dialog-true-privilege .user-profile.box-information .btn-auth:active, fieldset[disabled] .modal-dialog-true-privilege .user-profile.box-information .btn-auth.active { background-color: #9fa2a3; border-color: #9fa2a3; }
.modal-dialog-true-privilege .user-profile.box-information .btn-auth .badge { color: #9fa2a3; background-color: #ffffff; }
.modal-dialog-true-privilege .user-profile.box-update { width: 19.26316%; float: left; text-align: right; }
.modal-dialog-true-privilege .user-profile.box-update [class^="update-"] { padding: 3px 0; }
.modal-dialog-true-privilege .user-profile.box-update .update-message { height: 32px; line-height: 3; }

.fixSpace{
	 width: 34% !important;
}

.not-found-order {text-align: center;
  padding: 10em;
  background: rgba(0,0,0,.1);
  border-radius: 1em;
  color: #999;
  font-size: 15px;}

/*# sourceMappingURL=main.css.map */
