@charset "UTF-8";/* CSS Document */
body {padding: 0px;margin: 0px;font-size: 13px;color: #959595;font-family: Thonburi, Tahoma, Geneva, sans-serif;}
h1 {font-size: 20px;font-weight: normal;}
h2 {font-size: 15px;font-weight: normal;padding: 0px;margin: 0px;line-height: none;}
h3 {font-size: 18px;margin-top: 10px;font-weight: normal;padding: 0px;line-height: none;}
p, br, a {padding: 0;margin: 0;text-decoration: none;color: #959595;}
a:hover {color: #87c80a;}
.clear {clear: both;font-size: 0px;line-height: 0px;}
h4 {font-size: 15px;font-weight: normal;padding: 0px;margin: 0px;line-height: none;}
.t-green{color:#87c80a;}
.t-grey{color: #959595;}
.t-blackgrey{color: #565656;}
.t-red{color: #F00;}
.sub-content-n {width: 950px;margin: 0px auto 0px auto;}

/*-------print-------*/.success-thank-n{width: 893px;border: 1px solid #e2e2e2;background-color: #ffffff;margin: 20px auto 20px auto;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;color:#565656;background-color:#fafafa;}
.success-thank p {color:#565656;}
.success-box-main-n {width:890px; float:left;background-color:#FFF;border-radius: 5px 0px 0px 5px;-webkit-border-radius: 5px 0px 0px 5px;-moz-border-radius: 5px 0px 0px 5px;}
.p-box1-n {width:250px;float:left;}
.p-box3-n {width: 330px; float:right;}
.p-box4-n{width: 100%; float:right;}

.p-topboxall{border-bottom:1px dotted #e2e2e2; background-color: #fafafa;}
.p-topbox-left{width:635px; float:left; border-right: solid 1px #ffffff; background-color: white; min-height:210px;}
.p-topbox-right{width:254px; float: right;right: 3px;top: 0; max-height:100%;height: 100%;min-height:100%; background:#fafafa}
.p-name-n {padding:20px 20px 20px 20px;}
.p-pic-p{ width:95px; height:95px; float:left;}
.p-pic-p img{ width:95px; height:95px;}
.p-title {padding:3px 10px 3px 10px;margin:10px 0 0 0;border-top:2px solid #87c80a;border-bottom:1px solid #f1f1f1;}
.p-title-p-n {width:404px;border-right:1px solid #f1f1f1;float:left;}
.p-title-c-n {width:150px;border-right:1px solid #f1f1f1;float:left;text-align:center;}
.p-title-n-n {width:120px;border-right:1px solid #f1f1f1;float:left;text-align:center;}
.p-title-c-n-n {width:250px;border-right:1px solid #f1f1f1;float:left;text-align:right; padding:0px 50px 0px 0px}
.p-title-n-p-n{ padding:0px 10px 0px 20px; float:left}
.p-title-n-s-n {width:150px;float:left;text-align:right;}
.p-send-n {padding:10px 5px 10px 5px;border-bottom:1px solid #f1f1f1;}
.p-row {padding:10px 10px 10px 10px;border-bottom:1px dotted #f1f1f1;}
.p-non-bor {border:none;}
.p-row-sum-n {padding:5px 10px 5px 10px;border-bottom:1px solid #f1f1f1;float:right;border-left:1px solid #f1f1f1;border-right:1px solid #f1f1f1;background-color:#fcfcfc;}
.p-text-r {text-align:right; font-weight:normal;}
.p-bg-sum {background-color:#f1f1f1;font-weight:bold;font-size:15px;}
.p-bg-status{background-color:#f1f1f1;}
.p-box-right { padding:10px 10px 10px 10px;}
.p-title-right-n p {color:#959595;}
.p-title-box-n{padding:0px 10px 0px 15px; }
.p-title-box-n.line{ padding:0px 10px 0px 15px;}
.p-title-b-n{padding:5px 0px 0px 0px;}
.p-title-b-n h4 {/*border-bottom:1px dotted #CCCCCC;*/ padding:0px 0px 0px 0px;font-weight:bold;}
.p-titile-note{font-size:11px; color: #959595; padding:5px 0px 0px 0px;}
.p-sum-footer-n {/*width:324px;*/float:right;}
.p-sum-bar {float:left;width:400px;}
.invoice .p-label {width: 344px;}
.invoice .p-detail {margin-left: 344px;}

.h-step{padding:20px 20px 20px 20px; border-top:1px dotted #e2e2e2;}
.h-step-cut{padding:20px 20px 20px 20px; border-top:1px dotted #e2e2e2; position:relative;}
.h-cut{ position:absolute; top:-10px; right:10px;}
.h-step-header{ width:100%; position:relative;color: #959595; padding:0px 0px 10px 0px; }
.h-step-header h3{color: #565656; padding:5px 0px 0px 0px; font-weight:bold;}
.h-step-header-cut{ width:100%; color: #959595; padding:0px 0px 10px 0px; }
.h-step-header-cut h3{color: #565656; padding:5px 0px 0px 0px; font-weight:bold;}
.h-step-logo{ position:absolute; right:0; top:0px;}
.h-step-logo img{max-height:60px}
.h-step-d{padding:0px 0px 0px 0px; color:#959595; width:80%;}
.h-step-d-l{padding:0px 0px 0px 0px; color:#959595; width:100%;}
.h-step-d ul{ padding:0px 0px 10px 0px; margin:0px;}
.h-step-d ul li{ list-style:none; color:#565656;}
.h-step-d .list{ padding:0px 0px 10px 30px; margin:0px;}
.h-step-d .list li{ list-style:decimal; color:#959595}
.h-step-d .list b{color:#565656; font-weight:bold;}
.h-step-d .list-in-list{padding:0px 0px 0px 20px; margin:0px;}
.h-step-d .list-in-list li{ list-style:lower-roman;}
.h-check{padding:20px 20px 20px 20px; border-top:1px dotted #e2e2e2;}
.h-check a{ color:#00F;}
.h-bank{padding:0px 20px 10px 20px;}
.h-atm-bank{ padding:5px 0px 5px 0px;}
.h-atm-bank-logo{ float:left;}
.h-atm-bank-n{ padding:5px 0px 0px 40px;}
.h-alert-note{ padding:20px 20px 20px 20px; text-align:center; width:60%; background-color:#f1f1f1; margin:0 auto; font-size:15px;}
.h-alert-note b{color:#ff8600; font-weight:bold;}
.h-barcode{ padding:10px 0px 10px 0px;}
.thank-icon-n {padding: 0px 0 20px 0;text-align: center; font-size: 15px;margin-top: 20px;}
.h-step a{color:#00F;}

.ch-status-box {width: 450px;margin-left: auto;margin-right: auto; padding: 0 0 10px 0;}
.ch-status a {display: block;width: 450px;padding: 6px;border: 2px solid #87c80a;background-color: #87c80a;border-radius: 5px;-webkit-border-radius: 5px;text-align: center;color: #FFF;float: left;  font-size:15px; }
.ch-status a:hover {background-color: #7ebb0a;border: 2px solid #7ebb0a;}
.next_shop_n a {display: block;width: 240px;padding: 6px;border: 2px solid #e2e2e2;background-color: #ffffff;border-radius: 5px;-webkit-border-radius: 5px;text-align: center;color: #565656;font-size: 20px; margin:0 auto;}
.next_shop_n a:hover {background-color: #e2e2e2;}


/*tracking*/
.in-track{padding: 30px 30px 0px 30px;}
.inin-track{padding: 30px 45px 20px 45px;}
.trkstep-1{background-image: url(../../images/lucky_draw/trkstep.png) ;background-repeat: no-repeat;background-position: center -20px; background-size:832px 580px}
.trkstep-2{background-image: url(../../images/lucky_draw/trkstep.png) ;background-repeat: no-repeat;background-position: center -158px; background-size:832px 580px}
.trkstep-3{background-image: url(../../images/lucky_draw/trkstep.png) ;background-repeat: no-repeat;background-position: center -296px; background-size:832px 580px}
.trkstep-4{background-image: url(../../images/lucky_draw/trkstep.png) ;background-repeat: no-repeat;background-position: center -435px; background-size:832px 580px}
.trkstep-on{width: 888px;height: 117px;margin-left: auto;margin-right: auto;}
.trkstep-on ul{ padding:0px; margin:0px;}
.trkstep-on li{padding: 80px 0 0 0;width: 222px;float: left;list-style: none;text-align: center; font-size:14px}
.trkstep-on .trkactive{color: #87c80a;}
.linedottop{ border-top:1px dotted #e2e2e2;}
.trackinfo {width: 850px;border: 1px solid #e2e2e2;background-color: #fafafa;margin: 0px auto;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.trackinfo-box1 {width: 250px;border-right: 1px solid #e2e2e2;float: left;height: 100%;}
.trackinfo-box1-in {padding: 10px 20px 10px 20px; border-bottom:1px solid #e2e2e2;}
.trackinfo-box1-in.end{padding: 10px 20px 10px 20px; border-bottom:none;}
.trackinfo-box2 {width: 580px; padding: 20px 20px 20px 20px; float: left;}
.titleinfo{ font-size:15px; color:#565656; font-weight:bold; padding-bottom:5px;}
.trackhead{font-size:15px; color:#87c80a; font-weight:bold; padding-bottom:15px;} 
.tracking-status{border-top:2px solid #87c80a; border-bottom:1px solid #f1f1f1;}
.h-tracking-status{border-bottom:1px solid #f1f1f1;}
.h-trk-col{font-size:15px; color:#565656; font-weight:bold;}
.trk-col-mdy{ float:left; width:164px; text-align:center; border-right:1px solid #f1f1f1; padding:5px 0px 5px 0px;}
.trk-col-time{ float:left; width:140px; text-align:center; border-right:1px solid #f1f1f1; padding:5px 0px 5px 0px;}
.trk-col-location{ float:left; width:220px; text-align:center; border-right:1px solid #f1f1f1; padding:5px 0px 5px 0px;}
.trk-col-status{ float:left; width:322px; text-align:center; padding:5px 0px 5px 0px;}
.trk-status-row{border-bottom:1px dotted #e2e2e2; padding:10px 0px 10px 0px;}
.trk-status-row.end{border-bottom:none; padding:10px 0px 10px 0px;}
.trk-row-mdy{ float:left; width:164px; text-align:center; padding:5px 0px 5px 0px;}
.trk-row-time{ float:left; width:140px; text-align:center; padding:5px 0px 5px 0px;}
.trk-row-location{ float:left; width:220px; text-align:center; padding:5px 0px 5px 0px;}
.trk-row-status{ float:left; width:322px; text-align:center; padding:5px 0px 5px 0px;}
.print_n a {display: block;width: 240px;padding: 6px;border: 2px solid #87c80a;background-color: #87c80a;border-radius: 5px;-webkit-border-radius: 5px;text-align: center;color: #ffffff;font-size: 20px; margin:0 auto;}
.print_n a:hover {background-color: #7ebb0a;border: 2px solid #7ebb0a;}


/*survey*/
.headgreyline{ padding:10px 50px 10px 50px; border-bottom:1px solid #f1f1f1; font-weight:bold; color: #87c80a;}
.in-question{padding:20px 50px 10px 50px; }
.question{ font-size:16px; color:#565656;}
.choice{ padding:10px 10px 10px 10px; }
.choice li{ list-style:none; width:30%; float:left;}
.checkchoice{ padding-top:10px; float:left}
.t-choice{padding-top:5px; padding-left:30px;color:#565656; font-size:15px;}
.morecomment{ padding:40px 10px 0px 10px}
.h-morecomment{padding:0px 0px 10px 0px; font-size:15px; color:#959595;}
.area-morecomment{width: 100%; height:100px;
	padding: 10px;
	border: 2px solid #e2e2e2;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 13px;
	box-shadow: none;}
.next-box{width: 500px;margin-left: auto;margin-right: auto;padding: 20px 0 50px 0;}
.next a{background-image:url(../../images/lucky_draw/arrow.png); background-repeat: no-repeat; background-position: right center; display: block;width: 240px;padding: 6px;border: 2px solid #87c80a;background-color: #87c80a;border-radius: 5px;-webkit-border-radius: 5px;text-align: center;color: #ffffff;font-size: 20px; margin:0 auto;}
.next a:hover {background-color: #7ebb0a;border: 2px solid #7ebb0a;}

/*benefit*/
#container{ background-color:#fafafa}
.sub-content-benefit{width: 960px;margin: 0px auto 0px auto; padding:15px 5px 15px 5px;}
.box-benefit{width: 100%;background-color: #fff;float: left;border: 1px solid #e2e2e2;}
.t-bred{ color:#e83a27;}
.hgreyline{ padding:10px 20px 10px 20px; border-bottom:1px solid #f1f1f1; font-weight:bold; color: #87c80a; font-size:20px; font-weight:bold;}
.in-benefit{padding:20px 50px 20px 50px; }
.t-m-benefit{ font-size:18px; color:#565656; font-weight:bold; padding:0px 0px 10px 0px; border-bottom:1px dotted #e2e2e2;}
.t-m-benefit b{ font-size:24px;}
.d-benefit{ font-size:13px; color:#959595; padding:10px 0px 10px 0px; }
.h-d-benefit{font-size:15px; color:#565656; padding:0px 0px 20px 0px; }
.h-benefit{ background:#f8f8f8; position:relative; width:100%; height:40px; margin-top:20px;}
.h-benefit p{ padding:8px 10px 10px 100px;  font-size:15px; color:#565656; float:left;}
.h-benefit .note{ padding:14px 10px 10px 10px;  font-size:12px; color:#565656;}
.h-benefit .note a{ color:#00F;}
.h-benefit-h-01{ background:url(../../images/lucky_draw/greenbgbenefit01.png) no-repeat left center; color:#ffffff; height:40px; width:90px; padding:8px 10px 5px 10px; position:absolute; top:0px; left:0px; float:left; font-size:15px;}
.h-benefit-h-01 b{ font-size:20px;}
.h-benefit b{ font-size:18px;}
.h-benefit-h-02{ background:url(../../images/lucky_draw/greenbgbenefit02.png) no-repeat left center; color:#ffffff; height:40px; width:90px; padding:8px 10px 5px 10px; position:absolute; top:0px; left:0px; float:left; ; font-size:15px;}
.h-benefit-h-02 b{ font-size:20px;}
.detail-benefit{ padding:20px 70px 0px 70px;}
.h-detail-benefit{ font-size:15px; color:#333; font-weight:bold;}
.in-areacoupon{ padding:10px 20px 0px 20px;}
.in-row-coupon{ padding:20px 0px 0px 0px; margin:0px;}
.in-row-coupon li{ list-style:none;}
.in-col-coupon{padding:0px; margin:0px; width:100%}
.in-col-coupon li{list-style:none; float:left; width:30%; margin-bottom:20px; margin-right:22px;}
.in-col-coupon .coupon{ border:1px dashed #959595; width:200px; min-height:140px; background-color:#f8f8f8; position:relative;}
.in-col-coupon .coupon .num-coupon{ position:absolute; top:35%; left:43%; font-size:30px; color:#dddddd; font-weight:bold;}
.my-coupon{}
.info-my-coupon{ height:50%; max-height:200px;}
.info-my-coupon{background:url(../../images/lucky_draw/coupon.jpg) no-repeat; height:68px;}
.info-my-coupon.noactive{background:url(../../images/lucky_draw/coupon_noactive.jpg) no-repeat; height:68px;}
.benefit-code{ font-size:15px; color:#959595; text-align:center; padding:10px 0px 5px 0px; }
.benefit-code .t-code{color:#565656; font-size:18px;  letter-spacing: 2px;}
.benefit-code.noactive{ font-size:15px; color:#dddddd; text-align:center; padding:10px 0px 5px 0px; }
.benefit-code .t-code.noactive{color:#dddddd; font-size:18px;  letter-spacing: 2px;}
.coupon-status{ padding:10px 0px 0px 0px; text-align:center; min-height:45px; font-size:12px;}
.coupon-status.active{ color:#e83a27}
.coupon-status.noactive{ color:#959595;}
.coupon-status.used{ color:#959595; background:url(../../images/lucky_draw/check.png) no-repeat 20px 12px;}
.check-purchase{ border-top:1px dotted #e2e2e2; padding:20px 50px 20px 50px;}
.check-purchase a{ color:#00F;}

.box-purchase{ width:820px; border: 1px solid #e2e2e2; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; font-size: 15px; box-shadow: none; margin:0 auto;}
.hgreenline{padding:10px 20px 10px 20px; border-bottom:2px solid #87c80a; font-weight:bold; color: #87c80a;}
.h-title-field{ font-size:15px; font-weight:bold; color:#565656}
.field-day{width:205px;border-right:1px solid #f1f1f1; border-bottom:1px solid #f1f1f1;float:left; padding:5px 10px 5px 40px}
.field-orderid{width:380px;border-right:1px solid #f1f1f1; border-bottom:1px solid #f1f1f1;float:left; padding:5px 0px 5px 0px; text-align:center;}
.field-price{width:232px;float:left; border-bottom:1px solid #f1f1f1; padding:5px 40px 5px 10px; text-align:right;}
.order-date{background-color:#fafafa;padding: 5px 40px 5px 40px;color: #959595;}
.row-field{ padding-bottom:40px;}
.d-field{ font-size:13px; font-weight:normal; color:#565656}
.d-field-day{width:205px; border-bottom:1px  dotted #e2e2e2; float:left; padding:15px 10px 15px 40px}
.d-field-orderid{width:380px;border-bottom:1px  dotted #e2e2e2; float:left; padding:15px 0px 15px 0px; text-align:center;}
.d-field-price{width:232px;float:left;  padding:15px 40px 15px 10px; text-align:right; border-bottom:1px  dotted #e2e2e2;}
.total-sum{ background:#f8f8f8; padding:20px 40px 20px 40px; border-top:1px solid #f1f1f1; font-size:18px; font-weight:bold; color:#565656; border-bottom-right-radius:5px; border-bottom-left-radius:5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
.h-field-sum{width:545px; float:left;}
.d-field-sum{width:192px; float:left;text-align:right;}

.box-benefit-profile{width: 100%;background-color: #fafafa;float: left;border:none;}
.benefit-inprofile{width:730px;}
.in-benefit-profile{padding:20px 10px 20px 10px; }
.h-benefit-h-01-profile{ background:url(../../images/lucky_draw/greenbgbenefit01.png) no-repeat -10px center; color:#ffffff; height:40px; width:90px; position:absolute; top:0px; left:0px; float:left; font-size:14px;}
.h-benefit-h-01-profile b{ font-size:18px;}
.h-benefit b{ font-size:18px;}
.h-benefit-h-02-profile{ background:url(../../images/lucky_draw/greenbgbenefit02.png) no-repeat -10px center; color:#ffffff; height:40px; width:90px; position:absolute; top:0px; left:0px; float:left; ; font-size:15px;}
.h-benefit-h-02-profile b{ font-size:18px;}
.t-h-benefit-h-profile{ padding:8px 10px 5px 10px;}
.h-benefit-profile{ background:#e8e8e8; position:relative; width:100%; height:40px; margin-top:20px;}
.h-benefit-profile p{ padding:12px 5px 10px 85px;  font-size:14px; color:#565656; float:left;}
.h-benefit-profile .note{ padding:14px 5px 10px 5px;  font-size:12px; color:#565656;}
.h-benefit-profile .note a{ color:#00F;}
.detail-benefit-profile{ padding:20px 20px 0px 20px;}
.in-areacoupon-profile{ padding:10px 0px 0px 0px;}
.in-col-coupon-profile{padding:0px; margin:0px; width:100%}
.in-col-coupon-profile li{list-style:none; float:left; width:30%; margin-bottom:20px; margin-right:22px;}
.in-col-coupon-profile .coupon{ border:1px dashed #959595; width:200px; min-height:140px; background-color:#ffffff; position:relative;}
.in-col-coupon-profile .coupon .num-coupon{ position:absolute; top:35%; left:43%; font-size:30px; color:#dddddd; font-weight:bold;}
.check-purchase-profile{ border-top:1px dotted #e2e2e2; padding:20px 20px 20px 20px; border-bottom:1px dotted #e2e2e2; }
.check-purchase-profile a{ color:#00F;}
.promote-campaign{ padding:10px 20px 20px 20px;}

