@charset "UTF-8";
/* CSS Document */


h1 {
    font-size: 1.6em;
    color: #FFF;
    padding: 0px;
    margin: 0px;
}
h2 {
    font-size: 14px;
    color: #7a0004;
    padding: 0px;
    margin: 0px;
}
h3 {
    font-size: 20px;
    color: #000000;
    padding: 0px;
    margin: 0px;
}
h4 {
    font-size: 1.2em;
    color: #FFF;
    padding: 0px;
    margin: 0px;
}
.clear {
    clear: both;
    font-size: 0px;
    line-height: 0px;
}
body {
    padding: 0px;
    margin: 0px;
    color: #777777;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    width: 100%;
    margin: 0 auto;
}
#header {
    width: 100%;
    height: 50px;
    position: relative;
}
.topbar {
    width: 100%;
    height: 50px;
    border-top: 2px solid #eb2227;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
    position: absolute;
}
.login {
    right: 0px;
    position: absolute;
    border-left: 1px solid #eee;
    margin: 0;
    padding: 15px 15px 0 50px;
    height: 35px;
    background-image: url(../images/login.png);
    background-repeat: no-repeat;
    background-size: 50px;
    font-size: 1.1em;
    font-weight: bold;
    color: #eb2227;
}
.login a {
    color: #eb2227;
    text-decoration: none;
}
.on_login {
    right: 0px;
    position: absolute;
    border-left: 1px solid #eee;
    margin: 0;
    width: 125px;
    padding: 10px 15px 0 10px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 50px;
    font-size: 1em;
    font-weight: bold;
    color: #eb2227;
}
.on_login a {
    color: #eb2227;
    text-decoration: none;
}
.dis_pic {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
    background-color: #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#container {
    width: 100%;
}
.price {
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: #eb2227;
}
.buy {
    width: 100%;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #d8d8d8;
    background-image: url(../images/bg_buy.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
}
.buy select {
    padding: 5px 20px 5px 20px;
    font-size: 1.7em;
    margin-left: 15px;
    background-color: #FFF;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.review {
    padding: 20px 0 0 0;
}
.content {
    padding: 20px 0 20px 0;
}
.title {
    padding: 0 10px 10px 10px;
}
.text {
    padding: 20px 0 20px 0;
    text-align: center;
}
.footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #CCC;
    background-color: #f2f2f2;
    font-size: 12px;
}
.btn-blue-l {
    background-image: url(../images/bg_b.jpg);
    border: none;
    border-bottom: 2px solid #79ab17;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    height: 50px;
    color: #fff;
    font-size: 20px;
    margin: 0 10px 0 10px;
    padding: 0 50px 0 50px;
    cursor: pointer;
    font-weight: bold;
}
.btn-blue-l-slide {
    background-image: url(../images/bg_b.jpg);
    border: none;
    border-bottom: 2px solid #79ab17;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    color: #fff;
    font-size: 19px;
    margin: 1px 10px 0 10px;
    padding: 8px 50px 7px 50px;
    cursor: pointer;
    font-weight: bold;
}
.btn-soldout-l {
    background-color: #a7a7a7;
    border: none;
    border-bottom: 2px solid #a7a7a7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    color: #fff;
    font-size: 19px;
    margin: 1px 10px 0 10px;
    padding: 8px 50px 7px 50px;
    cursor: pointer;
    font-weight: bold;
}
.banner {
    position: relative;
}
.soldout {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    text-align: center;
}
.soldout_bt {
    position: absolute;
    padding: 10px 40px 10px 40px;
    border: 2px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 20px;
    color: #fff;
    top: 43%;
    left: 27%;
}


/* Portrait */
@media screen and (orientation:portrait) {
    /*	#wrapper {
            width:480px !important;
            max-width:480px;

            }
    */
}
/* Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
    #wrapper {
        max-width: 100% !important;
    }
}
.slide-up {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: #ffffff;
    margin-top: -100px;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    /*	-webkit-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
*/	height: 50px;
    border-top: 2px solid #eb2227;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
}
.slide-up.hide {
    margin-top: -100px;
}
.slide-up.show {
    margin-top: 0px;
}
/* all page*/


.all-banner {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 2px solid #a6a6a6;
}
.price-2 {
    width: 100%;
    padding: 0px 0 0px 0;
    background-color: #eb2227;
}
.banner {
    position: relative;
}
.page {
    border-top: 1px dotted #999999;
    margin: 30px 0 30px 0;
    position: relative;
}
.no-page {
    position: absolute;
    padding: 5px;
    background-color: #f2f2f2;
    font-size: 13px;
    text-align: center;
    color: #eb2227;
    left: 33%;
    top: -15px;
}
.load_page {
    padding: 20px 0 20px 0;
    border: 2px solid #999;
    font-size: 1.5em;
    color: #999;
    display: block;
    text-align: center;
    margin: 20px 0 10px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-weight: bold;
}
.size ul {
    margin: 0px;
    padding: 0px;
}
.size li {
    float: left;
    margin: 5px;
    padding: 10px 15px 10px 15px;
    list-style: none;
    display: block;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 14px;
}
.size ul li.active {
    font-size: 14px;
    background-color: #eb2227;
    font-weight: bold;
    color: #FFF;
    border: 1px solid #eb2227;
}
.color ul {
    margin: 0px;
    padding: 0px;
}
.color li {
    float: left;
    margin: 5px;
    padding: 15px 15px 15px 15px;
    list-style: none;
    display: block;
    border: 2px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 14px;
}
.color ul li.active {
    font-size: 14px;
    background-color: #F00;
    font-weight: bold;
    color: #FFF;
    border: 2px solid #666;
    padding: 15px 15px 15px 15px;
}
a, img {border: 0;}
a {text-decoration: none; color: inherit;}
img {max-width: 100%; height:auto;}

/*More product*/
#mp-header {background-color: #636363; font-family: Tahoma; font-size: 1.6em; color: #ffffff; padding: 15px 10px; text-align: left;}
#mp-content { background-color: #f3f3f3; padding: 15px 0 0; padding-left: 12px; overflow: hidden;}
#mp-content-container {width: 618px;}
#get-promotion { background-color: #ffffff; cursor: pointer;}
#get-promotion-container {padding-bottom: 20px;background-color: #f3f3f3;}
#get-promotion > div {text-align: center; /* padding: 10px 0; *//* border: solid 1px #898989; */}
#get-promotion .promotion-msg {border: solid 1px #898989;font: 1.4em Tahoma;padding: 10px 0;border: solid 1px #898989;display: block;border-left: 0;border-right: 0;}
#mp-content-slider:after {display: block; content: ''; clear: both;}
#mp-content-slider {margin: 0;}
#mp-content-slider li p:first-child {margin: 0;}
#mp-content-slider li {font-size: 1.2em;}
.mp-desc, .mp-price {padding: 0 10px;}
.bx-wrapper .bx-viewport {box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; -webkit-box-shadow: 0 0 0; border: 0; left: 0; background-color: transparent;}
.special-price {color: #eb2227; font-weight: bold;}
.normal-price {text-decoration: line-through; color: #565656; font-weight: bold;}
.enquiry {margin: 0; display: none;overflow: hidden;position: relative;text-align: left;}
.enquiry input {background: url('../images/icons/icon-email.png') no-repeat 10px center; font: 1.4em Tahoma; padding: 11px 15px 11px 50px; margin: 0;width: 100%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;border: 0;border: solid 1px #838383;border-right: 0;}
.enquiry button {background-color: #ff3a31; color: #ffffff; border: solid 1px #ff3a31;padding: 11px 15px; font: 1.4em Tahoma; margin: 0;position: absolute;cursor: pointer;width: 25%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}